@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}




body {
    position: relative;
    box-sizing: border-box;
    background-color: black;
    color: azure;
    Background-size: 100%;
    background-image: url(/galeria/foto_espaco.jpg);
    
}

.cabecalho {
    padding: 2% 0% 0% 18%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__links {
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: aqua;
    text-decoration: none;
    
}

.apresentacao {
    padding: 7% 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo_destaque {
    color: aqua;

}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.titulo__apresentacao {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    
}

.apresentacao__paragrafo {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.minha_foto {
    border-radius: 2%;
    width: 400px;
    height: 420px;
    
}

.subtitulo__links {
    font-family: 'Krone One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;


}

.apresentacao__botao {
    display: flex;
    gap: 16px;
    justify-content:center;
    border: 2px solid aqua;
    text-align: center;
    padding: 10px;
    width: 250px;
    font-weight: 600;
    border-radius: 15px;
    font-size: 24px;
    text-decoration: none;
    color: aqua;
    font-family: 'Montserrat', sans-serif;

}

.apresentacao__botao:hover {
    background-color: black;
}

.rodape {
    color: black;
    background-color: aqua;
    padding: 10px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 450;
    bottom: 0%;
    position: fixed;
    width: 100%;

    
    
}
